.description
  .jumbotron.page-jumbotron
    %h1 Fennec Open IoT platform
  .row
    .col-sm-12
      .h3
        Simple and fast platform to use as a core for your IoT solution
  .row
    .col-md-3
      .header
        %h2
          Connect
      .text
        %p
          Just connect devices to the application and start getting data
    .col-md-3
      .header
        %h2
          Collect
      .text
        %p
          All data from devices will be stored in database
    .col-md-3
      .header
        %h2
          Manage
      .text
        %p
          Device can be managed with security over Internet
    .col-md-3
      .header
        %h2
          Analyze
      .text
        %p
          As soon as all data stored in a database, the information can be used for tracking and controlling other devices

